# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Maven Build Artifacts and Temporary Files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Keeping Maven wrapper
!mvnw
!mvnw.cmd
.mvn/
!.mvn/wrapper/

# Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Others
*.log
HELP.md
.env
